<div class="card">
    <p-table #dt2 [value]="investments" dataKey="id" [loading]="loading"
        [globalFilterFields]="['platform', 'type', 'amount', 'interestRate']" [tableStyle]="{ 'min-width': '75rem' }">
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text"
                        (input)="dt2.filterGlobal(returnEventAsInputElement($event).value, 'contains')"
                        placeholder="Search investments" />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:16%">Platform</th>
                <th style="width:12%">Type</th>
                <th style="width:12%">Amount</th>
                <th style="width:12%">Interest Rate</th>
                <th style="width:12%">Tenure</th>
                <th style="width:12%">Quantity</th>
                <th style="width:24%">Details</th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="platform" placeholder="Filter by platform"
                        ariaLabel="Filter Platform"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="type" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-select [options]="investmentTypes" (onChange)="filter($event.value)"
                                placeholder="Select Type" [showClear]="true" [style]="{'min-width': '12rem'}">
                                <ng-template let-option pTemplate="item">
                                    <p-tag [value]="option.value" [severity]="getTypeSeverity(option.value)!" />
                                </ng-template>
                            </p-select>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="numeric" field="amount" placeholder="Filter by amount"
                        ariaLabel="Filter Amount"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="numeric" field="interestRate" placeholder="Filter by interest"
                        ariaLabel="Filter Interest"></p-columnFilter>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-investment>
            <tr>
                <td>
                    {{ investment.platform }}
                </td>
                <td>
                    <p-tag [value]="investment.type" [severity]="getTypeSeverity(investment.type)!" />
                </td>
                <td>
                    {{ formatCurrency(investment.amount) }}
                </td>
                <td>
                    <ng-container *ngIf="investment.interestRate">
                        {{ investment.interestRate.toFixed(2) }}%
                    </ng-container>
                </td>
                <td>
                    <ng-container *ngIf="investment.tenure">
                        {{ investment.tenure }} days
                    </ng-container>
                    <ng-container *ngIf="investment.lockInPeriod">
                        {{ investment.lockInPeriod }} months
                    </ng-container>
                    <ng-container *ngIf="!investment.tenure && !investment.lockInPeriod && investment.maturityDate">
                        Until {{ formatDate(investment.maturityDate) }}
                    </ng-container>
                </td>
                <td>
                    <ng-container *ngIf="investment.type === 'Stock'; else otherTypes">
                        <ng-container *ngIf="investment.quantity">
                            {{ investment.quantity }} {{ typeToQuantityMap[investment.type] }}
                        </ng-container>
                    </ng-container>

                    <ng-template #otherTypes>
                        <ng-container *ngIf="investment.type === 'Gold' && investment.quantity">
                            {{ investment.quantity }} g
                        </ng-container>
                        <ng-container *ngIf="typeToQuantityMap[investment.type]">
                            {{ investment.quantity }} {{ typeToQuantityMap[investment.type] }}
                        </ng-container>
                    </ng-template>

                </td>
                <td>
                    <div class="flex flex-column">
                        <ng-container *ngIf="investment.payoutOption">
                            <span class="mx-3"><strong>Payout:</strong> {{ investment.payoutOption }}</span>
                        </ng-container>
                        <ng-container *ngIf="investment.frequency">
                            <span class="mx-3"><strong>Frequency:</strong> {{
                                capitalizeFirstLetter(investment.frequency) }}</span>
                        </ng-container>
                        <ng-container *ngIf="investment.maturityDate">
                            <span><strong>Maturity:</strong> {{ formatDate(investment.maturityDate) }}</span>
                        </ng-container>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No investments found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>